<% if user_signed_in? %>
<div class="col-md-2">
    <div class="list-group">
        <% @linksR.each do |gr| %>
            <%= link_to gr.route.name, "/"+gr.route.path, class: "list-group-item" %>
        <% end %>
        <% @links.each do |gr| %>
            <%= link_to gr.route.name, "/"+gr.route.path, class: "list-group-item" %>
        <% end %>
    </div>
    
</div>
    <div class="col-md-9">
<% else %>
    <div class="col-md-11">
<% end %>