<% if user_signed_in? %>
<div class="col-md-2">
    <div class="list-group">
        <%= link_to 'Companies', {controller: 'companies', action:'index'}, class: "list-group-item" %>
        <%= link_to 'Dat files', {controller: 'datfiles', action:'index'}, class: "list-group-item" %>
        <%= link_to 'Collection Types', {controller: 'collection_types', action:'index'}, class: "list-group-item" %>
        <%= link_to 'Systems', {controller: 'systems', action:'index'}, class: "list-group-item" %>
    </div>
</div>
    <div class="col-md-10">
<% else %>
    <div class="col-md-12">
<% end %>