<h2>Welcome to TOSEC on Rails!</h2>
<h3>Goals</h3>
<div class="table-responsive">
    <table class="table text-justify">
        <tr>
            <td colspan="2">
                <p>&nbsp;</p>
                <p>The goal of the TOSEC project is to maintain a database of all software and firmware images for all arcade
                    machines, microcomputers, minicomputers and video game consoles. In addition to this, the project also
                    catalogs other computing and gaming resources such as software and hardware manuals, magazine scans,
                    computing catalogs, comics and videos.</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>TOSEC catalogs software and firmware such as:</p>
                <ul>
                    <li>Applications</li>
                    <li>BIOS</li>
                    <li>Compilations</li>
                    <li>Coverdisks</li>
                    <li>Demos</li>
                    <li>Device Drivers</li>
                    <li>Educational software</li>
                    <li>Games</li>
                    <li>Magazines</li>
                    <li>Multimedia</li>
                    <li>Operating Systems</li>
                    <li>Promotional and sampler software</li>
                </ul>
            </td>
            <td>
                <p>As well as other computing and games related resources such as:</p>
                <ul>
                    <li>Box Art</li>
                    <li>Catalogs</li>
                    <li>Comics</li>
                    <li>Documentaries</li>
                    <li>Educational manuals and books</li>
                    <li>Guides</li>
                    <li>Hardware manuals</li>
                    <li>Magazines</li>
                    <li>Promotional videos</li>
                    <li>Software manuals</li>
                    <li>TV Series</li>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>&nbsp;</p>
                <p>Using this data, TOSEC can provide quality assurance and auditing tools for cataloging and validating software
                    images (such as ROM chip images, CD images, floppy disk images etc.) and computing resources (such as
                    manuals, magazines, videos etc.).</p>
                <p>The TOSEC database contains detailed information on images of hundreds of thousands of ROMs, EEPROMs, optical
                    discs, magnetic disks, magnetic tapes, document scans, videos and other sundry media and individual files.
                </p>
        </tr>
    </table>
</div>