<h2>Welcome to TOSEC on Rails!</h2>
<h3>History</h3>
<div class="table-responsive">
    <table class="table text-justify">
        <tr>
            <td>
                    <p>&nbsp;</p>
                The initiative was founded on 18 January 2000, with the first official TOSEC website going live 18 August 2000, by a Dutch
                retrocomputing enthusiast using the pseudonym "Grendel". </td>
            <td>
                    <p>&nbsp;</p>
                Whilst the original founder of TOSEC has since ceased to have any involvement in the initiative, a dedicated team of volunteers
                continue to expand and contribute to the project. </td>
        </tr>
    </table>
</div>