<h2>

    TOSEC on Rails!</h2>
<h3>Structure</h3>
<div class="table-responsive">
    <table class="table text-justify">
        <tr>
            <td colspan="3" style="border-bottom:0">
                <p>&nbsp;</p>
                <p>The project is split into three distinct 'branches' or 'collections':</p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>TOSEC</b>, or sometimes for clarity referred to as 'TOSEC (main)', is the original main branch of the
                    project. It catalogs all the non-optical disc based systems and remains the bulk of the TOSEC database.</p>
            </td>
            <td>
                <p>
                    <b>TOSEC-ISO</b> is a separate ancillary branch and includes optical disc based systems. This branch contains
                    both optical disc based images (such as DVD, CD and GD based images) as well as the firmware for these
                    disc based systems.</p>
            </td>
            <td>
                <p>
                    <b>TOSEC-PIX</b> is the second separate ancillary branch and includes computing and gaming resources such
                    as scans of software and hardware manuals, magazine scans, computing catalogs, and videos.</p>
            </td>
        </tr>
    </table>
</div>