<h2>Welcome to TOSEC on Rails!</h2>
<h3>What is it?</h3>
<div class="table-responsive">
    <table class="table text-justify">
        <tr>
            <td>
                <p>&nbsp;</p>
                <b>The Old School Emulation Center (TOSEC)</b> is a retrocomputing initiative dedicated to the cataloging and
                preservation of software, firmware and resources for arcade machines, microcomputers, minicomputers and video
                game consoles. The main goal of the project is to catalog and audit various kinds of software and firmware
                images for these systems.
            </td>
            <td>
                <p>&nbsp;</p>As of release 2017-11-01, TOSEC catalogs over 280 unique computing platforms and continues to grow.
                As of this time the project had identified and cataloged 853,044 different software images/sets, consisting
                of over 5.20TB of software, firmware and resources.
            </td>
        </tr>
    </table>
</div>