<div class="btn-group text-right" role="group" aria-label="...">
    <%= link_to 'New System', new_system_path, class: 'btn btn-primary' %>
    <%= link_to 'List System Types', systems_types_path, class: 'btn btn-primary' %>
</div>