
            <h2>New System</h2>
            <%= render 'form' %>
            <div class="text-center">
                    <img src="<%= asset_path('DB_systems.PNG') %>">
                    </div>
                </div>
            <!-- <%= render '/welcome/bottom' %> -->