<div class="btn-group" role="group" aria-label="...">
        <%= link_to 'New System Type', new_systems_type_path, class: 'btn btn-primary' %>
        <%= link_to 'List System', systems_path, class: 'btn btn-primary' %>
</div>
