<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1>New System Type</h1>
        </div>
        <div class="col-md-3">
            <%= render 'navbarSType' %>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= render 'form' %>
        </div>
    </div>
</div>