<hr/>
<div class="well"><center>Copyright &copy; 2017 TOSEC Project Homepage. All Rights Reserved. Designed by Dream Team.</center></div>
<div class="text-center">
        <h3><img src="<%= asset_path('facebook.png')%>" />
        <img src="<%= asset_path('twitter.png')%>" />
        <img src="<%= asset_path('google.png')%>" />
        <img src="<%= asset_path('rss.png')%>" />
        <span class="label label-primary">Contact us</span></h1>
    </div>
